* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

/*******************
        header
*******************/

header #header-top {
  background-color: #192f59;
  color: #96a2b8;
  /* padding: 18px 0; */
}

header #header-top .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header #header-top .left {
  padding: 18px 0;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 15px;
  align-items: center;
}

header #header-top .right ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

header #header-top .right ul a {
  text-decoration: none;
  color: #96a2b8;
}

header #header-top .right ul a.green {
  /* background-color: green; */
}

header #header-bottom {
  background-color: #fff;
}

header #header-bottom .logo {
  max-width: 330px;
}

header #header-bottom .logo img {
  width: 100%;
}

header #header-bottom .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

header #header-bottom .wrapper nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

header #header-bottom .wrapper nav ul li a {
  text-decoration: none;
  color: black;
}

/* header #header-bottom .wrapper .menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
} */

/* for active link */
header #header-bottom .wrapper nav ul li a.active {
  color: green;
  font-weight: 600;
}

header #header-bottom .wrapper nav ul li a:hover {
  color: green;
}

/* for fixed header above 768px */
@media only screen and (min-width: 768px) {
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
}

/* resposive */

@media only screen and (max-width: 426px) {
  header #header-top .wrapper {
    display: block;
    padding: 5px;
  }

  header #header-top .left {
    padding: 0;
    font-size: 12px;
    justify-content: space-between;
    margin-bottom: 2px;
  }

  header #header-top .right ul {
    justify-content: space-around;
    font-size: 14px;
    gap: 0;
  }

  header #header-bottom .wrapper {
    display: block;
    padding: 5px;
  }

  header #header-bottom .wrapper nav ul {
    justify-content: space-evenly;
    gap: 5px;
    font-size: 15px;
  }

  header #header-bottom .logo {
    margin: auto;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1024px) {
  header #header-top .wrapper,
  header #header-bottom .wrapper {
    /* padding: 0 8px; */
    padding-left: 8px;
    padding-right: 8px;
  }

  header #header-bottom .logo {
    max-width: 250px;
  }
}

/*******************
    hero-section
*******************/

#hero-section {
  background: url("images/slider-2.jpg");
  background-size: cover;
  /* background-position: center; */
  background-position: 100% 100%;
  padding: 220px 0;
}

#hero-section h3 {
  font-size: 33px;
  font-weight: 300;
  color: #fff;
}

#hero-section h1 {
  font-size: 83px;
  font-weight: 600;
  color: #fff;
}

#hero-section .btn-container {
  position: relative;
}

#hero-section button {
  padding: 19px 21px;
  font-size: 17px;
  font-weight: 600;
}

#hero-section .left-green {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #29a552;
  z-index: 2;
}

/* responsive */

@media only screen and (max-width: 426px) {
  #hero-section {
    padding: 120px 0;
  }

  #hero-section .container {
    text-align: center;
  }

  #hero-section h3 {
    font-size: 18px;
  }

  #hero-section h1 {
    font-size: 24px;
  }

  #hero-section button {
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 600;
  }

  #hero-section .left-green {
    display: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #hero-section {
    padding: 160px 10px;
  }

  #hero-section h3 {
    font-size: 30px;
  }

  #hero-section h1 {
    font-size: 50px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  #hero-section {
    padding: 160px 10px;
  }
}

/*******************
        blocks
*******************/

#blocks .wrapper {
  margin: 0 auto;
  margin-top: -30px;
  background-color: #fff;
  padding-bottom: 85px;
}

#blocks .top-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
  box-shadow: 0 -6px 24px rgba(10, 10, 10, 0.09);
  /* border: 1px solid black; */
}

#blocks .top-block .single-block {
  display: flex;
  gap: 10px;
}

#blocks .bottom-block {
  display: flex;
  flex-wrap: wrap;
}

#blocks .bottom-block .left {
  /* width: 49%; */
  flex: 1;
}

#blocks .bottom-block .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#blocks .bottom-block .right {
  /* width: 49%; */
  flex: 1;
  background: url("images/about-bg-2.jpg");
  background-size: cover;
  background-position: center;
}

#blocks .bottom-block .right .right-wrapper {
  padding: 100px 0;
  margin: 0 auto;
  max-width: 500px;
  /* border: 1px solid black; */
}

#blocks .bottom-block .right .right-wrapper div {
  margin-bottom: 20px;
}

#blocks .bottom-block .right .right-wrapper h3 {
  font-size: 29px;
  font-weight: 700;
  color: #fff;
}

#blocks .bottom-block .right .right-wrapper p.subtitle {
  font-size: 19px;
  font-weight: 500;
  color: #51be78;
}

#blocks .bottom-block .right .right-wrapper p.description {
  font-size: 18px;
  color: #c1d3ff;
}

#blocks .bottom-block .right .right-wrapper button {
  padding: 15px 30px;
  border: none;
  background-color: #3db166;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  margin-top: 15px;
}

#blocks .top-block .single-block .title {
  font-size: 18px;
  font-weight: 600;
  color: #192f59;
}

#blocks .top-block .single-block .caption {
  font-size: 16px;
  font-weight: 500;
  color: #b7b7b7;
}

/* responsive */

@media only screen and (max-width: 426px) {
  #blocks .wrapper {
    margin-top: 0;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
    padding-bottom: 20px;
  }

  #blocks .top-block {
    display: block;
    text-align: center;
  }

  #blocks .top-block .single-block {
    display: block;
  }

  #blocks .bottom-block {
    display: block;
  }

  #blocks .bottom-block .right .right-wrapper {
    padding: 50px 10px;
    text-align: center;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #blocks .wrapper {
    padding-bottom: 30px;
  }

  #blocks .bottom-block .right .right-wrapper {
    padding: 50px 10px;
  }
}

/*******************
      about
*******************/

#about {
  background: url("images/about-bg-3.jpg");
  background-size: cover;
  background-position: center;
}

#about .wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  padding: 125px 0 70px;
}

#about .left {
  flex: 1;
}

#about .right {
  flex: 2;
}

#about .left .title {
  font-size: 31px;
  font-weight: 600;
  color: #51be78;
}

#about .right .top {
  font-size: 23px;
  color: #d8e3fb;
  margin-bottom: 35px;
  line-height: 1.7;
}

#about .right .bottom {
  font-size: 19px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.7;
  margin-bottom: 15px;
}

#about .right button {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 700;
}

#about .right button i {
  margin-left: 10px;
}

/* responsive */

@media only screen and (max-width: 426px) {
  #about .wrapper {
    display: block;
    padding: 50px 5px;
  }

  #about .left {
    text-align: center;
  }

  #about .right {
    text-align: center;
  }

  #about .right .top {
    font-size: 18px;
    margin-bottom: 18px;
  }

  #about .right .bottom {
    font-size: 16px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1024px) {

  #about .wrapper {
    padding: 100px 10px 70px;
    gap: 10px;
  }
}

/*******************
      blocks-2
*******************/

#blocks-2 {
  background-color: #1b2945;
}

#blocks-2 .wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 75px 0 50px;
}

#blocks-2 .wrapper > div {
  /* border: 1px solid #fff; */
  width: 25%;
  padding: 20px;
}

#blocks-2 .wrapper img {
  margin-bottom: 35px;
}

#blocks-2 .wrapper h3 {
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 20px;
}

#blocks-2 .wrapper p {
  font-size: 16px;
  color: #d4e1fa;
  margin-bottom: 20px;
}

#blocks-2 .wrapper a {
  font-size: 14px;
  color: #51be78;
  text-decoration: none;
}

/* responsive */

@media only screen and (max-width: 426px) {
  #blocks-2 .wrapper {
    padding: 30px 0;
  }

  #blocks-2 .wrapper > div {
    width: 48%;
    padding: 10px;
  }
}

/*******************
    video-section
*******************/

#video-section {
  background: url("images/video-bg.jpg");
  padding: 220px 0;
}

#video-section .wrapper {
  max-width: 610px;
  margin: 0 auto;
  text-align: center;
}

#video-section .wrapper h2 {
  font-size: 38px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}
#video-section .wrapper p {
  font-size: 19px;
  color: #ffffff;
}

/* responsive */
@media only screen and (max-width: 426px) {
  #video-section {
    padding: 100px 0;
  }

  #video-section .wrapper h2 {
    font-size: 30px;
  }

  #video-section .wrapper p {
    font-size: 16px;
  }
}

/*******************
      footer
*******************/

footer {
  background-color: #181818;
  color: #ababab;
}

footer a {
  color: #ababab;
  text-decoration: none;
}

footer .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0;
}

footer .one,
footer .two,
footer .three,
footer .four {
  width: 23%;
}

footer .two h3,
footer .three h3,
footer .four h3 {
  color: #fff;
  border-bottom: 2px solid #3db166;
  padding-bottom: 15px;
  margin-bottom: 26px;
}

footer .two ul li,
footer .three ul li,
footer .four ul li {
  margin-bottom: 8px;
}

footer .wrapper .one {
  padding-bottom: 20px;
  border-bottom: 2px solid #3db166;
}

footer .wrapper .one img {
  /* width: 100%; */
  max-width: 100%;
  margin-bottom: 30px;
}

footer .wrapper .one .address {
  margin-bottom: 20px;
}

footer .wrapper .one .phone,
footer .wrapper .one .mail {
  color: #fff;
}

footer .wrapper .one .phone {
  margin-bottom: 20px;
}

footer .footer-bottom {
  padding: 33px 0;
  background-color: #202020;
}

footer .footer-bottom .container {
  display: flex;
  justify-content: space-between;
  color: #838383;
}

footer .footer-bottom a {
  margin-right: 20px;
}

footer .footer-bottom i {
  color: #51be78;
  font-size: 19px;
}

/* responsive */
@media only screen and (max-width: 426px) {
  footer .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  footer .one,
  footer .two,
  footer .three,
  footer .four {
    width: 48%;
  }

  footer .wrapper .one img,
  footer .wrapper .one .address,
  footer .wrapper .one .phone {
    margin-bottom: 10px;
  }

  footer .wrapper .one {
    border-bottom: none;
  }

  footer .wrapper .one div:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  footer .two h3,
  footer .three h3,
  footer .four h3 {
    padding-bottom: 5px;
    margin-bottom: 15px;
  }

  footer .two ul li,
  footer .three ul li,
  footer .four ul li {
    margin-bottom: 5px;
  }

  footer .footer-bottom {
    padding: 20px 10px;
  }

  footer .footer-bottom .container {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

@media only screen and (min-width: 426px) and (max-width: 1023px) {
  footer .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  footer .one,
  footer .two,
  footer .three,
  footer .four {
    width: 48%;
  }

  footer .wrapper .one {
    border-bottom: none;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  footer .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
